<form action="/checkout" method="POST">
<h1>Please enter the item you would like to purchase below: </h1>
<input type="text" name="item_to_purchase">
<input type="submit" name="" value="submit">
</form>
